.shadow-color {
  width: 90%;
  height: 4rem;
  border: 2px solid var(--color-white);
  border-radius: 5px;
  margin: 2.5rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  & > h5 {
    font-size: 1.4rem;
    color: #fff;
    background: #333;
    padding: 0.25rem;
    font-weight: 100;
    display: none;
  }

  &:hover {
    filter: brightness(125%);

    & > h5 {
      display: block;
    }
  }
}
