.home {
  width: 82.5%;
  margin-left: auto;

  .introduction {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    position: relative;

    .left-side {
      width: 40%;
      margin-top: 5rem;
      z-index: 2;
      & > h1 {
        font-size: 4.5rem;
      }
      & > button {
        margin-top: 5rem;
        padding: 1rem 4rem;
        border: none;
        outline: none;
        font-size: 2rem;
        cursor: pointer;
        border-radius: 5px;
        &:hover {
          filter: brightness(110%);
        }
      }
    }

    .block {
      width: 35%;
      height: 20rem;
      border-radius: 2rem;
      height: 80%;
      z-index: 2;
    }

    &__divider {
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      clip-path: polygon(100% 46%, 0 100%, 100% 100%);
    }
  }

  .colors {
    width: 100%;
    padding: 3rem 5rem;

    & > h2 {
      font-size: 3rem;
    }

    & > ul {
      margin-top: 2rem;
      padding: 1rem;
      list-style: none;

      & > li {
        width: 100%;
        padding: 2rem;
        display: flex;
        justify-content: space-between;

        & > div:nth-of-type(1) {
          width: 40%;
          padding: 1rem 2rem;
          font-size: 2rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;

          .color-tester {
            width: 15rem;
            height: 4rem;
          }
        }
        & > div:nth-of-type(2) {
          width: 50%;
          padding: 1rem 2rem;
          font-size: 2rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;

          .color-tester {
            width: 15rem;
            height: 4rem;
          }
        }
      }
    }
  }

  .shadows {
    width: 100%;
    padding: 3rem 5rem;

    & > h2 {
      font-size: 3rem;
      font-weight: bolder;
      text-align: center;
    }
    & > ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .buttons {
    width: 100%;

    & > h2 {
      font-size: 3rem;
      padding: 1rem;
      font-weight: bolder;
      text-align: center;
    }
    & > ul {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      align-items: center;
      column-gap: 3rem;
      row-gap: 3rem;
      padding: 5rem 1rem;
    }
  }
}
